$c-primary: #69CDDE;
$c-primary-lighten: #C9DDFF;
$c-primary-darken: #003C47;
$c-dark: #000D30;
$c-dark-mode: #273746;
$c-warn: #ED3B3B;
$c-white: #fff;
$c-grayscale-1: #747474;
$c-grayscale-2: #D9D9D9;
$c-grayscale-3: #272727;
$c-background: $c-white;

:root{
    --c-primary: $c-primary:
    --c-primary-lighten: $c-primary-lighten;
    --c-primary-darken: $c-primary-darken;
    --c-dark: $c-dark;
    --c-dark-mode: $c-dark-mode;
    --c-warn: $c-warn;
    --c-white: #fff;
    --c-background: $c-background;
}

html[theme*='dark']{
    $c-background: $c-dark;
    $c-primary: adjust-color($c-primary, $saturation: 20%, $lightness: -10%);

    :root{
        --c-background: $c-dark;
    }
}