@mixin useTitleFormat($title) {
  @each $key, $value in $title {
    #{$key}: $value;
  }
}

@mixin resetList() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin resetBoxModel(){
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}