@use "./colors";

// === Patterns for border. === /
$border: (
  type: "border",
  thin-primary: 1px solid colors.$c-primary,
  thin-primary-darken: 1px solid colors.$c-primary-darken,
  thin-secundary: 1px solid colors.$c-secundary,
);

// === Patterns for border-radius. === /
$border-radius: (
  type: "border-radius",
  thin: 4px,
  common: 8px,
);

// === Patterns for size. === /
$sizing: (
  type: "sizing",
  small: 12px,
  smaller: 10px,
  normal: 16px,
  medium: 20px,
  large: 24px,
  x-large: 28px,
  xx-large: 32px,
);

// === Patterns for spacing. === /
$spacing: (
  type: "spacing",
  min: 4px,
  common-1: 8px,
  common-2: 12px,
  common-3: 24px,
  big: 32px,
  bigger: 42px,
  biggest: 64px,
);

// === Patterns for opacity. === /
$opacity: (
  type: "opacity",
  min-transparence: 0.3,
  intermediary-transparence: 0.5,
  placeholders: 0.7,
);

// === Patterns for box-shadow. === /
$box-shadow: (
  type: "boxShadow",
  inside-fields: inset 0 2px 4px adjust-color($c-dark, $alpha: -0.7),
  inside-fields-large: inset 2px 2px 4px
  adjust-color($c-dark, $alpha: -0.7),
  "inside-fields_dark-mode": inset 0px 2px 4px
    adjust-color($c-secundary, $alpha: -0.7),
  "inside-fields-large_dark-mode": inset 2px 2px 4px
    adjust-color($c-secundary, $alpha: -0.7),
  soft-confirm: 0 2px 4px adjust-color($c-primary-darken, $alpha: -0.7),
  soft-cancel: 0 2px 4px adjust-color($c-warn, $alpha: -0.7),
);

// === Patterns for font-size. === /
$font-size: (
  text-smaller: 10px,
  text-small: 12px,
  text-normal: 16px,
  text-medium: 22px,
  text-large: 28px,
  text-largest: 32px,
);

// === Patterns for font-size responsive. === /
$font-size-responsive: (
  text-smaller: min(10px, x-small),
  text-small: min(12px, small),
  text-normal: clamp(14px, 16px, 1.5vw),
  text-medium: clamp(18px, 22px, 4vw),
  text-large: clamp(24px, 28px, 3.5vw),
  text-largest: clamp(32px, 36px, 5.5vw),
);

// === Patterns for typography. === /
$typography: (
  title: (
    font-weight: bold,
    font-size: 24px,
    line-height: 1.5,
    text-transform: uppercase,
    margin: 0,
  ),
);
